<div>
    <br>
    <h3 mat-dialog-title style="text-align: center;">Modify product</h3>
    <br><br>
    <div class="two-parts">
        <div class="part-one">
            <mat-card class="class-container" *ngIf="oldProduct != null">
                <br>
                <p style="text-align: center; "> Old values : </p>
                <p style="text-align: center;"> Name : {{oldProduct.name}}</p>
                <p style="text-align: center;"> Brand : {{oldProduct.brand}}</p>
                <p style="text-align: center;"> Price : {{oldProduct.price}}</p>
                <p style="text-align: center;"> Quantity : {{oldProduct.quantity}}</p>
                <p style="text-align: center;"> Description : {{oldProduct.description}}</p>
                <br>
                <br>
            </mat-card>
        </div>
        <div class="part-two">
            <div mat-dialog-content class="input-container">
                <h3 mat-dialog-title style="text-align: center;">Enter new values down here</h3>
                <br>
                <form>
                    <div class="container">
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Name</mat-label>
                                <input type="text" #ipName matInput formControlName="name" placeholder="" />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Brand</mat-label>
                                <input type="text" #ipBrand matInput formControlName="brand" placeholder="" />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Price</mat-label>
                                <input type="number" #ipPrice matInput formControlName="price" placeholder="" />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Quantity</mat-label>
                                <input type="number" #ipQuantity matInput formControlName="quantity" placeholder="" />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Description</mat-label>
                                <input type="text" #ipDescription matInput formControlName="description"
                                    placeholder="" />
                            </mat-form-field>
                        </div>
                    </div>
                </form>
                <div mat-dialog-actions class="btns">
                    <button mat-button mat-dialog-close (click)="GoBack()">Cancel and go back</button>
                    <button mat-button mat-dialog-close cdkFocusInitial color="primary"
                        (click)="ModifyProduct(ipName.value, ipBrand.value, ipPrice.value, ipQuantity.value, ipDescription.value)">Update
                        product</button>
                    <br><br><br>
                </div>
            </div>
        </div>
    </div>
</div>