table {
    position: relative;
    justify-content: center;
    width : 90%;
    margin: auto;
    top : 5%;
}
th, td {
    border: 8px solid none;
    padding : 10px;
    border-spacing: 5px;
    text-align: center;
  }

  body {
    font-family: sans-serif;
  }
  .add-record-btn{
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-bottom: 6px;
    right : 10%;
}

.add-attribute-container {
    position: relative;
    margin-top: 5%;
    
}

.class-container {
    display: flex;
    width : 60%;
    margin: auto;
    justify-content: center;
    align-items: center;
}


#cross-sign {
    background: none;
    border: none;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
}

.cross-btn{
    position: relative;
    top : 1%;
    right : 1%;
    display: flex;
    width : 100%;
    justify-content: flex-end;
    
}